<div class="section">
  <label>Server Name</label>
  <!--Property Binding-->
  <input
    class="form-control"
    (input)="onUpdateServerName($event)">

  <!--Two-way Data Binding-->
  <input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">

  <br>

  <button class="btn btn-default btn-sm"
          [disabled]="!allowNewServer"
          (click)="onEnableServer()"
  >Enable</button>

  <button class="btn btn-default btn-sm"
          [disabled]="!allowNewServer"
          (click)="onDisableServer()"
  >Disable</button>

  <button class="btn btn-warning btn-sm" (click)="onCreateServer()">
    Create Server
  </button>

  <p>{{ serverCreationStatus }}</p>


  <p id="server-status">{{ serverStatus }}</p>
</div>
<div>
  {{ allowNewServer }}
  <p [innerText]="allowNewServer"></p>
  <button
    class="btn btn-default"
    #item
    (click)="countDown()"
    [disabled]="counterLocked"
  >{{ countButton }}
  </button>
</div>

<app-server></app-server>
<app-server></app-server>
